.idea
.DS_Store
Digital-Automation-Mobile.iml
/target/
.classpath
.project
.settings
output
test-output
src/test/resources/Apps
automation.out
Session_Files/iOS/*
Charles
curl
src/test/resources/TestData/Tag_Property_Files/iOS/*
Charles
curl
screenshots
emulator.properties
simulator.properties
src/test/resources/MobileDevices/emulator.properties
src/test/resources/MobileDevices/emulator.properties
